<% provide :title, @workshop.name %>

<h3 class="workshop-section"><%= @workshop.name %></h3>

<h4 class="workshop-section"><%=t(:what?) %></h4>
<p><%= raw(@workshop.description) %></p>

<div>
  <h4 class="workshop-section"><%=t(:with_who?) %></h4>
  <p><%= raw(@workshop.with_whom) %></p>
</div>

<div>
  <% unless @workshop.bring_along.nil? || @workshop.bring_along.empty? %>
    <h4 class="workshop-section"><%=t(:bring_along?) %></h4>
    <p><%= raw(@workshop.bring_along) %> </p>
  <% end  %>
</div>
 
<% unless @workshop.events.nil? %> 
<div> 
  <h4 class="workshop-section"> <%= t(:when?) %> </h4>
  <% if @workshop.active? %>
    <% @workshop.events.each do |event| %>
    <%= event.description %>
    <br/>
  <% end %> 
  <% else %>
    <%= t(:workshop_expired) %> </p>
    <a href='' data-toggle="modal" data-target="#request_workshop"><%= image_tag("button-reload.png") %><%=t(:request_workshop)%></a>
    <%=render 'request_modal' %>
  <% end  %>
</div>
<% end %>

<% unless @workshop.whereabouts.nil? || @workshop.whereabouts.empty? %>
<h4 class="workshop-section"><%=t(:where?) %></h4>
<p><%= raw(@workshop.whereabouts) %> </p>
<% end %>

<% if @workshop.active? %>
  <h4 class="workshop-section"><%=t(:how?) %></h4>
  <p><%="#{t(:signup_is_online)} #{t(:click_bravely)}" %>
  <a id='aici' href='' data-toggle="modal" data-target="#signup"><%= image_tag("ateliere/button-inscrieri.png", :alt => t(:here)) %><%=t(:here)%></a>
  <%= t(:signup_blah_blah) %></p>
  <%=render 'registration_modal' %>
<% end %>

<br/>
<% if @workshop.requires_donation? %>
  <p><%= raw(@workshop.donation) %></p> 
<% end %>


<% if @photos.present? %>
       <h4 class="workshop-section"><%=t(:photos) %></h4>
        <div class="well-none">
          <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <% @photos.each_with_index do |photo, n| %>
                <% if (n%10 == 0) %>
                  <div class="item <%= (n==0) ? "active" : "" %>">
                    <div class="row">
                  <% end %>      
                    
                  <a class="fancybox" rel="gallery1" href="<%= photo["source"] %>">
                    <div class="center-cropped thumbnail" alt="<%="#{n} out of #{@photos.count} "%>" style="background-image: url('<%= photo["picture"] %>');"></div>
                  </a>


                  <% if ( n%10 == 9 || n == (@photos.count-1) ) %>
                    </div>
                  </div>
                  <% end %>  

              <% end %>    
              </div>
                <!--/carousel-inner--> 
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-4"></i></a>

              <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right fa-4"></i></a>
            </div>
        </div>
<% end %>




