  <div class="row" >
    <div class="col-sm-2 col-sm-offset-1" >
      <%= gravatar_for contact_person, size: 80 %>
    </div>

    <div class="col-sm-4" >
      <h4><%= contact_person.name %></h4>
      <%= contact_person.title %>
      <br/>
      <%= contact_person.about %>
      <br/>
      <%= contact_person.phone %>
    </div>
  </div>
