<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=774534099241810&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<% provide(:title, "incubator107 #{@city.name}" ) %>
<% provide(:about_link,  article_path( @city.about_article_id)) %>
<%# provide(:workshops_link,  articles_path) %>
<% provide(:contact_link,  article_path( @city.contact_article_id)) %>
<% provide(:collaboration_link,  article_path( @city.collaboration_article_id)) %>
<% provide(:friends_link,  article_path( @city.friends_article_id)) %>
<% provide(:two_percent_link,  article_path( @city.two_percent_article_id)) %>
<div id="fb-root"></div>

<div class="row">
  <div class="col-sm-8">
        <h4><%= @last_news_title %></h4>
        <% if @last_news_text.length > 1000 %>
          <%= truncate(@last_news_text, length: 1000, :escape => false) %>
          <%= link_to_function '...Read more', "$(this).parent().html('#{escape_javascript @last_news_text}')" %>
        <% else %>
        <%= @last_news_text.html_safe %>
        <% end %>
  </div>
    <div class="col-sm-4">
        <%= image_tag("nocturna_cluj.jpg") %>  
      </div>
</div>


<div class="row">
  <div class="col-sm-8">
    <h3>Register to newsletter</h3>
    <%= form_for( @participant, url: {controller: "participant", action: "subscribe_newsletter"},
             remote: true) do |f| %>


      <p><%= f.text_field :name,  autofocus: true, placeholder: 'Name' %> </p>
      <p><%= f.text_field :email,  autofocus: true, placeholder: 'Email' %> </p>

      <%= f.submit "Subscribe me!", class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <div class="fb-like-box" data-href="https://www.facebook.com/<%=@city.facebook%>" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
  </div>
  </div>
</div>
