<% provide(:title, 'Articles') %>

<h3 class="text-center">Listing articles</h3>

  <a href="<%= new_location_path %>">
  <button type="button" class="btn btn-link">
    <span class="glyphicon glyphicon-plus-sign"></span> Add new article
  </button>
</a>



<div class="list-group">
  <%= will_paginate %>
    <% @articles.each do |article| %>
    <a href="<%= edit_article_path(article) %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= article.title %></h4>
      <p class="list-group-item-text"><%= truncate(strip_tags(article.text), length: 100)  %></p>
    </a>
    <% end %>
    <%= will_paginate %>
</div>

