<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=<%= ENV["FACEBOOK_APP_ID"] %>&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<% provide(:title, "incubator107 #{@city.name}" ) %>
<div id="fb-root"></div>
<div class="row">
  <div class="col-sm-12">
    <div id="small-calendar"></div>
    <br/>
  </div>
</div>
<% unless @last_news.nil? %>
  <div class="row">
    <div class="col-sm-8">
      <h4><%= @last_news.title %></h4>
      <% if @last_news.content.length > 1000 %>
        <%= truncate(@last_news.content, length: 1000, :escape => false) %>
        <%= link_to '...Read more', '#',  :onclick => "$(this).parent().html('#{escape_javascript @last_news.content}')" %>
      <% else %>
        <%= @last_news.content.html_safe %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= image_tag("nocturna_cluj.jpg") %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-8">
    <h5><%=t(:register_to_newsletter) %></h5>
    <%= form_for( @subscriber, url: {controller: "/subscriber", action: "register_newsletter"}, remote: true) do |f| %>
      <p><%= f.text_field :email,  autofocus: true, placeholder: 'Email' %>
        <%= f.submit t("home.sign_me_up"), class: "btn btn-sm btn-primary" %></p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <div class="fb-like-box" data-href="https://www.facebook.com/<%=@city.facebook_page_id%>" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
  </div>
</div>
