<% provide(:title, "New location") %>
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <fieldset>
      <legend>New location</legend>
      <%= simple_form_for @location,  html: { class: "form-horizontal" } do |f|  %>
        <% if @location.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@location.errors.count, "error") %>
              prohibited this location from being saved:</h2>
            <ul>
              <% @location.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group ">
          <%= f.label :name, class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :name, class: "form-control"  %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :address, class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :address, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description, class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-2">
            <%= f.submit "Create location", class: "btn btn-sm" %>
          </div>
          <div class="col-sm-7">
          </div>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>