<div class="row">
  <div class="col-sm-4">
    <h3 class="muted"><%= link_to image_tag("logo.png"), "http://#{@city.domain}.#{Rails.configuration.hosts[Rails.env]}"%>
    <%= @city.name %></h3>
  </div>
  <div class="col-sm-8">
    <div class="navbar-header">
      <div class="navbar-inner">
        <ul class="nav nav-pills" >
          <li><a href="<%= article_path(@article_links["about"])%>"><%=I18n.t(:who_are_we)%></a></li>
          <li><a href="<%= workshops_path%>"><%=I18n.t(:workshops)%></a></li>
          <li><a href="<%= calendar_path%>"><%=I18n.t(:calendar)%></a></li>
          <li><a href="<%= article_path(@article_links["collaboration"])%>"><%=I18n.t(:collaboration)%></a></li>
          <li><a href="<%= article_path(@article_links["your_place"])%>"><%=I18n.t(:your_place)%></a></li>
          <li><a href="<%= article_path(@article_links["friends"])%>"><%=I18n.t(:friends)%></a></li>
          <li><a href="<%= article_path(@article_links["two_percent"])%>"><%=I18n.t(:two_percent)%></a></li>
          <li><a href="<%= contact_path%>"><%=I18n.t(:contact)%></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
