<%= link_to image_tag("flowery-logo.png", :class => "center"), "http://#{@city.domain}.#{Rails.configuration.hosts[Rails.env]}"%>

<div class="monthly-workshops">
  <ul class="list-group">
    <a class="list-group-item">
      <h4 class="list-group-item-heading"> <%=t(:this_month) %> </h4>
    </a>
<% @this_month_workshops.each do |id, name| %>
    <li class="list-group-item"> <%= link_to name, workshop_path(id)%> </li>
<% end %>
  </ul>
</div>

<br/>
<br/>

<div class="monthly-workshops">
  <ul class="list-group">
    <a class="list-group-item">
      <h4 class="list-group-item-heading"> <%=t(:next_month) %> </h4>
    </a>
<% @next_month_workshops.each do |id, name| %>
    <li class="list-group-item"> <%= link_to name, workshop_path(id)%> </li>
<% end %>
  </ul>
</div>

  
